In [13]:
import pandas as pd

In [14]:
df_profils_1=pd.read_csv('validations-sur-le-reseau-ferre-profils-horaires-par-jour-type-1er-sem.csv',delimiter=';')
df_profils_2=pd.read_csv('validations-sur-le-reseau-ferre-profils-horaires-par-jour-type-2e-sem.csv',delimiter=';')

c:\program files (x86)\python36\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
df_profils_1.head()

,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CAT_JOUR,TRNC_HORR_60,pourc_validations
0,100,110,729,REPUBLIQUE,71311.0,SAVS,5H-6H,0.61
1,100,110,734,REUILLY-DIDEROT,71654.0,DIJFP,15H-16H,8.93
2,100,110,734,REUILLY-DIDEROT,71654.0,DIJFP,2H-3H,0.01
3,100,110,734,REUILLY-DIDEROT,71654.0,DIJFP,6H-7H,1.15
4,100,110,734,REUILLY-DIDEROT,71654.0,JOHV,0H-1H,0.61

In [17]:
df_profils_2.head()

,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CAT_JOUR,TRNC_HORR_60,pourc_validations
0,800,850,866,VAIRES-TORCY,68419,SAHV,11H-12H,7.33
1,800,850,866,VAIRES-TORCY,68419,SAHV,12H-13H,7.45
2,800,850,866,VAIRES-TORCY,68419,SAHV,15H-16H,6.93
3,800,850,866,VAIRES-TORCY,68419,SAHV,16H-17H,6.93
4,800,850,866,VAIRES-TORCY,68419,SAHV,17H-18H,6.96

In [18]:
df_nombre_1=pd.read_csv('validations-sur-le-reseau-ferre-nombre-de-validations-par-jour-1er-sem.csv',delimiter=';')
df_nombre_2=pd.read_csv('validations-sur-le-reseau-ferre-nombre-de-validations-par-jour-2e-sem.csv',delimiter=';')

In [19]:
df_nombre_1.head()

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2017-03-17,100,110,49,BARBES-ROCHECHOUART,71426.0,AUTRE TITRE,349
1,2017-03-17,100,110,492,MAIRIE DE MONTREUIL,71785.0,NAVIGO,16509
2,2017-03-17,100,110,493,MAIRIE DE SAINT-OUEN,72168.0,IMAGINE R,1807
3,2017-03-17,100,110,494,MAIRIE DES LILAS,71909.0,AUTRE TITRE,172
4,2017-03-17,100,110,494,MAIRIE DES LILAS,71909.0,TST,542

In [20]:
df_nombre_2.head()

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2017-08-04,800,854.0,566.0,MONTREUIL,63989,AMETHYSTE,33.0
1,2017-08-04,800,854.0,566.0,MONTREUIL,63989,AUTRE TITRE,18.0
2,2017-08-04,800,854.0,566.0,MONTREUIL,63989,IMAGINE R,219.0
3,2017-08-04,800,854.0,566.0,MONTREUIL,63989,NAVIGO,1069.0
4,2017-08-04,800,854.0,58.0,BECON-LES-BRUYERES,72124,TST,97.0